<div class="container w-50 mt-5">
  <form class="container w-75 register-form" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="card text-center">
      <div class="card-header bg-dark text-light">
        <p class="header-font display-4">Personal data</p>
      </div>
      <div class="card-body">

        <div class="form-row">

          <div class="form-group col-md-4">
            <h4 class="text-right p-2">First Name</h4>
          </div>
          <div class="form-group col-md-8">
            <input id="firstName" type="text" name="firstName" class="form-control" [(ngModel)]="user.firstName" required #firstName="ngModel">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
              <div *ngIf="firstName.errors.required">
                Name is required
              </div>
            </div>
          </div>

        </div>
        <div class="form-row">

          <div class="form-group col-md-4">
            <h4 class="text-right p-2">Last Name</h4>
          </div>
          <div class="form-group col-md-8">
            <input id="lastName" type="text" name="lastName" class="form-control" [(ngModel)]="user.lastName" required #lastName="ngModel">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
              <div *ngIf="lastName.errors.required">
                Last name is required
              </div>

            </div>
          </div>

        </div>
        <div class="form-row">

          <div class="form-group col-md-4">
            <h4 class="text-right p-2">Email</h4>
          </div>
          <div class="form-group col-md-8">
            <input id="email" type="email" name="email" class="form-control" [(ngModel)]="user.email" email required #email="ngModel">
              <div  *ngIf="email.invalid && (email.dirty ||email.touched)" >
              <div *ngIf="email.errors.required" >
                Email is required.
              </div>
              <div *ngIf="email.errors.email">
                Invalid Email.
              </div>
            </div>
          </div>

        </div>
        <div class="form-row">

          <div class="form-group col-md-4">
            <h4 class="text-right p-2">Phone</h4>
          </div>
          <div class="form-group col-md-8">
            <input id="phoneNumber" type="text" name="phoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" required #phoneNumber="ngModel">
            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
            <div *ngIf="phoneNumber.errors.required">
              Phone is required
            </div>
            </div>
          </div>

        </div>
        <div class="form-row">

          <div class="form-group col-md-4">
            <h4 class="text-right p-2">Current password</h4>
          </div>
          <div class="form-group col-md-8">
            <input id="currentPassword" type="password" name="currentPassword" class="form-control" [(ngModel)]="user.password">
          </div>

        </div>
        <div class="form-row">

          <div class="form-group col-md-4">
            <h4 class="text-right p-2">New Password</h4>
          </div>
          <div class="form-group col-md-8">
            <input id="newPassword" type="password" name="newPassword" pattern="[A-Za-z]{3}" class="form-control" [(ngModel)]="user.newPassword" required #newPassword="ngModel">
            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
              <div *ngIf="newPassword.errors.required">
                Password is required
              </div>
              <div *ngIf="newPassword.errors.pattern">
                Password is not in a compliance
              </div>

            </div>
          </div>

        </div>
        <div class="form-row">

          <div class="form-group col-md-4">
            <h4 class="text-right p-2">Confirm Password</h4>
          </div>
          <div class="form-group col-md-8">
            <input id="newPasswordConfirmation" type="password" name="newPasswordConfirmation" class="form-control" [(ngModel)]="user.newPasswordConfirmation" required #newPasswordConfirmation="ngModel">
<!--            <div *ngIf="newPasswordConfirmation != newPassword">-->
<!--              <div *ngIf="newPasswordConfirmation.errors.required">-->
<!--                Password doesn't match-->
<!--              </div>-->
<!--            </div>-->
          </div>

        </div>




<!--        <div class="form-group">-->
<!--          <label>Current Password</label>-->
<!--          <input type="text" name="address" class="form-control"-->
<!--                 [(ngModel)]="user.password">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>New Password</label>-->
<!--          <input type="text" name="address" class="form-control"-->
<!--                 [(ngModel)]="user.password">-->
<!--        </div>-->

      </div>
      <div class="card-footer">
        <button type="submit" class="form-submit">Save Info</button>
      </div>
    </div>
  </form>
</div>
<!--<div class="container w-50 mt-5">-->
<!--  <form class="container w-75 register-form" #form="ngForm" (ngSubmit)="onSubmit()">-->
<!--    <div class="card text-center">-->
<!--      <div class="card-header bg-dark text-light">-->
<!--        <p class="header-font display-4">User Profile</p>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <div class="form-group">-->
<!--          <label>First Name</label>-->
<!--          <input type="text" name="firstName" class="form-control" [(ngModel)]="user.firstName">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>Last Name</label>-->
<!--          <input type="text" name="lastName" class="form-control" [(ngModel)]="user.lastName">-->
<!--        </div>-->
<!--        <div class="form-row">-->

<!--          <div class="form-group col-md-6">-->
<!--            <label>Email</label>-->
<!--            <input type="text" name="email" class="form-control" #emailInput [(ngModel)]="user.email">-->
<!--          </div>-->
<!--          <div class="form-group col-md-6">-->
<!--            <label>Phone Number</label>-->
<!--            <input type="text" name="phoneNumber" class="form-control" [(ngModel)]="user.phoneNumber">-->

<!--            &lt;!&ndash;            <div class="form-group">&ndash;&gt;-->
<!--            &lt;!&ndash;              <span>+</span>&ndash;&gt;-->
<!--            &lt;!&ndash;              <a href="javascript:void(0);" title="Add Phone" (click)="addPhone();">Add Phone</a>&ndash;&gt;-->

<!--            &lt;!&ndash;            </div>&ndash;&gt;-->

<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>Current Password</label>-->
<!--          <input type="text" name="address" class="form-control"-->
<!--                 [(ngModel)]="user.password">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>New Password</label>-->
<!--          <input type="text" name="address" class="form-control"-->
<!--                 [(ngModel)]="user.password">-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="card-footer">-->
<!--        <button type="submit" class="form-submit">Save Info</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

