<div class="container w-50 mt-5">
  <form class="container w-75 register-form" #form="ngForm" (ngSubmit)="addCategory()">
    <div class="card text-center">
      <div class="card-header bg-dark text-light">
        <p class="header-font display-4">Add Category Form</p>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Category name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="category.name">
          </div>
        </div>

        <!--                <div class="form-group">-->
        <!--                    <label>Expiration Date</label>-->
        <!--                    <input type="text" th:field="*{expirationDate}" name="expirationDate" class="form-control">-->
        <!--                </div>-->
        <!--        <h4>Category</h4>-->
        <!--        <mat-form-field appearance="fill">-->
        <!--          <mat-label>Choose category</mat-label>-->
        <!--          <mat-select>-->
        <!--            <mat-option *ngFor="let"-->

        <!--          </mat-select>-->
        <!--                <div class="form-group">-->
        <!--                    <label>Category</label>-->
        <!--                    <input type="text" th:field="*{category}" name="category" class="form-control">-->
        <!--                </div>-->
      </div>

      <div class="card-footer">
        <button type="submit" class="form-submit">Add Category
        </button>
      </div>

    </div>
  </form>
</div>

